{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}
{% set current_url = h.full_current_url() %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block header %}
{% block header_wrapper %}
{% block header_account %}
  <header class="account-masthead">
    <div class="container">
      {% block header_account_container_content %}
        {% if c.userobj %}
          <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
            <ul class="unstyled">
              {% block header_account_logged %}
              {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="icon-legal"></i>
                  </a>
                </li>
              {% endif %}
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
              </li>
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                  <i class="icon-dashboard"></i>
                  <span>{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                    <i class="icon-cog"></i>
                  </a>
                </li>
              {% endblock %}
              {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="icon-signout"></i>
                  </a>
                </li>
              {% endblock %}
              {% endblock %}
            </ul>
          </div>
        {% else %}
          <nav class="account not-authed">
            <ul class="unstyled">
              {% block header_account_notlogged %}
              <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
              {% if h.check_access('user_create') %}
                <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
              {% endif %}
              {% endblock %}
            </ul>
          </nav>
        {% endif %}
      {% endblock %}
        <div class="social social-header">
          <div class="g-plusone" data-size="medium"></div>
        </div>
        <div class="social social-header social-twitter">
          <a class="twitter-share-button" href="https://twitter.com/share"> Tweet </a>
        </div>
        <div class="social social-facebook-header social-facebook">
          <div class="fb-share-button" data-href={{ current_url }} data-layout="button_count"></div>
        </div>
    </div>
  </header>
{% endblock %}
<header class="masthead">
  {% block header_debug %}
    {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
    {% endif %}
  {% endblock %}
  <div class="container">
    {# The .header-image class hides the main text and uses image replacement for the title #}
    <hgroup class="{{ g.header_class }}">

      {% block header_logo %}
        {% if g.site_logo %}
          <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
        {% else %}
          <h1>
            <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
          </h1>
          {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
        {% endif %}
      {% endblock %}

    </hgroup>

    <div class="content">

      {% block header_site_navigation %}
        <nav class="section navigation">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}

            {{ h.build_nav_main(
            ('search', _('Datasets')),
            ('organizations_index', _('Organizations')),
            ('blog_index', _('Blog')),
            ('about', _('About'))
            ) }}
            <li>
            <a href="http://www.data.com.pk/events/" title="{{ _('Events') }}">
              {{ _('Events') }}
            </a>
            </li>
            {% endblock %}
          </ul>
        </nav>
      {% endblock %}

      {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
          <div class="field">
            <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
            <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search') }}" />
            <button class="btn-search" type="submit"><i class="icon-search"></i></button>
          </div>
        </form>
      {% endblock %}

    </div>
  </div>
</header>
{% endblock %}


{% endblock%}

{% block footer %}
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <div class="attribution">
        {% block footer_attribution %}
          <p><small>{% trans %}Website powered by &nbsp;</small><a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>
      <ul class="logos">
        <li><a href="http://www.alifailaan.pk/"><img src="/alifailaan.png" alt=""/></a></li>
        <li><a href="http://www.sdpi.org/"><img src="/sdpi.png" alt=""/></a></li>
      </ul>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
{% endblock %}


{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    <div class="toolbar">
    </div>
    {% block primary_content %}
    <div role="main">
      <div class="container">
        <h2>{% trans %}Explore by{% endtrans %}</h2>
        <div class="row">
          {% for homepage_page in  h.get_homepage_icons()  %}
          <div class="span3">
            <a class="category-link" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/'+homepage_page.name) }}"><i class="{{ homepage_page.icon }}"></i>{{homepage_page.category}}</a>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="span8">
            <h2>{% trans %}Latest News{% endtrans %}</h2>
            {% set posts = h.get_recent_blog_posts(2) %}
            <ul class="latest-posts thumbnails">
              {% for post in posts %}
              <li class="span4">
              <span class="post">
                <a class="blog-title" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}">{{ post.title or post.name }}</a>
                <small class="date"> {{ h.render_datetime(post.publish_date) }} </small>
                <span class="text">{{ h.markdown_extract(post.content) }}</span>
                <a class="btn btn-primary" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) }}"><i class="icon-chevron-right"></i>{% trans %}More{% endtrans %}</a>
              </span>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="span4">
            <h2>{% trans %}PDP on Twitter{% endtrans %}</h2>
            <div class="homepage-twitter">
              <a class="twitter-timeline" height="200" href="https://twitter.com/pkdata" data-widget-id="541913449933332481">Tweets by @pkdata</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <!-- put a 400 height twitter widget here (light theme) -->
            </div>
          </div>
        </div>

      </div>
    </div>

    {% endblock %}
  </div>
{% endblock %}
