{% ckan_extends %}

{% set current_url = h.full_current_url() %}

{% block primary_content %}
  {{ super() }}
  <div class="social">
    <a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="icon-google-plus-sign"></i> Google+</a>
    <a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="icon-twitter-sign"></i> Twitter</a>
    <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="icon-facebook-sign"></i> Facebook</a>
  </div>

  {{ h.disqus_comments() }}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'pakistan-theme/scripts/all_links_in_new_tabs.js' %}
{% endblock %}
