{% set current_url = h.full_current_url() %}

<div class="container">
  <div class="social">
    <a class="twitter-share-button" href="https://twitter.com/share"> Tweet </a>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <g:plusone></g:plusone>
  </div>
</div>
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <div class="attribution">
        {% block footer_attribution %}
          <p><small>{% trans %}Website powered by &nbsp;</small><a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>
      <ul class="logos">
        <li><a href="http://www.alifailaan.pk/"><img src="/alifailaan.png" alt=""/></a></li>
        <li><a href="http://www.sdpi.org/"><img src="/sdpi.png" alt=""/></a></li>
      </ul>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
