{% set current_url = h.full_current_url() %}

<div class="container">
  <div class="social">
    <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><img src="/facebook.png"</a>
    <span social-count id="facebook-count" rel={{current_url}}>0</span>
    <a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><img src="/twitter.png"</a>
    <span social-count id="twitter-count" rel={{current_url}}>0</span>
    <a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><img src="/google.png"</a>
  </div>
</div>
<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <div class="attribution">
        {% block footer_attribution %}
          <p><small>{% trans %}Website powered by &nbsp;</small><a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
      </div>
      <ul class="logos">
        <li><a href="http://www.alifailaan.pk/"><img src="/alifailaan.png" alt=""/></a></li>
        <li><a href="http://www.sdpi.org/"><img src="/sdpi.png" alt=""/></a></li>
      </ul>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
